
.video-wrap{
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    color: #fff;
    background-position: center;
}

.video{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.video video{
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}

.banner{
    color: #fff;
    position: fixed;
    top: 5%;
    left: 15%;
    font-size: 70px;
    font-weight: bold;
    white-space: pre-line;
    line-height: 200%;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, .5);
}

.main-btn{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    padding: 10px 100px;
    background-color: #000;
    position: fixed;
    bottom: 25%;
    right: 20%;
    border-radius: 5px;
    box-shadow: -5px -5px rgba(0, 0, 0, .5);
    transition: right 1s bottom 1s box-shadow 1s;
}

.main-btn:hover{
    text-decoration: none;
    color: #fff;
    bottom: calc(25% + 2px);
    right: calc(20% + 2px);
    box-shadow: -2px -2px rgba(0, 0, 0, .5);
}